:root {
    --base-color: #d7dae1;
    --second-color:  #EE8448;
    --third-color: #c86432;
    --anti-color: #171718;

}
.menu-item{

}
body{
    background-color:var(--anti-color);
    color : var(--base-color);;
    margin : 0;
}

.button {
    max-height: 40px;
    max-width: 130px;
    background-color:var(--third-color);
    border-radius: 10px;
    border : 3px var(--second-color) solid ;
    color : var(--base-color);
    margin : 30px 10px 30px 10px;
}

.button :hover {
    max-height: 40px;
    max-width: 130px;
    background-color:var(--second-color);
    border-radius: 10px;
    border : 3px var(--third-color) solid ;
    color : var(--anti-color);
    margin : 30px 10px 30px 10px;
}

.navigation-bar{
    max-height: 70px;
    border-bottom: 2px white solid;
}



