:root {
    --base-color: #fff;
    --primary-color: #ef7030;
    /*--third-color: #c86432;*/
    --anti-color: #171718;

    /*
    themes:
    Light:
        --base-color: #171718;
        --anti-color: #fff;

    Dimmed:
            --anti-color: #5d5d5d;

    Different primary colors:
        #8462c8 - tako purpl
        #2fa1a6 - bebe blu
        #70b979 - snek
        #d85a5a - thursty

    */
}
body{
    background-color:var(--anti-color);
    margin:0;
    color:var(--base-color);
    font-family: sans-serif;
}
a{
    cursor:pointer;
    text-decoration:none;
    font-size: inherit;
    font-weight: bold;
    color:var(--base-color);
}
.logo{
    width : 20%;
    background-color:var(--anti-color);
}
.login-left {
    border-right: 1px solid var(--base-color);
    margin: 0 0 0 auto;
}
.login-right {
    margin: 1px auto 0 0;
}
.login-left,.login-right {
    width: 30%;
    padding: 5% 0;
}

.button {
    /*background-color:var(--third-color);*/
    background-color:var(--primary-color);
    border-radius: 10px;
    /*border : 3px var(--primary-color) solid;*/
    display:  inline-flex;
    margin: 6%;
    font-size: 1vmax;
    padding: 0.5vmax 2vmax;
}
.button:hover {
    filter:hue-rotate(20deg) brightness(1.25);
    cursor:pointer;
    /*border: 3px var(--third-color) solid;*/
}
.box-border-down {
    display: flex;
    border-bottom: 1px solid var(--base-color);
    margin-bottom: 5%;
}

.textbox {
    padding: 15px 50px 15px 10px;
    margin: 2% 10%;
    background-color: #C4C4C4;
    border-radius: 10px;
    border: none;
}

.btn {
    text-decoration:none;
    background-color: var(--primary-color);
    border-radius: 10px;
    border: none;
    padding: 20px 50px;
    color: var(--base-color);
    font-size: inherit;
    font-weight: bold;
}
.btn:hover{
    cursor:pointer;
    filter:hue-rotate(-20deg) brightness(0.75);
}
.wrapper {
    text-align: center;
    display: inline-block;
    width: 100%;
}
h1.header-text {
    margin: 5% 0 0 0;
    display: inline-block;
    padding: 20px 10%;
    border-bottom: 1px solid var(--base-color);
}
.header-title {
    margin: 15px 0;
    font-size: 2.5vmax;
    display: inline-flex;
}
.title-box{
    align-self:center;
}
.nav-right{
    display: inline-flex;
    float: right;
    width: 21vmax;
}
.description{
    float : right;
    width : 50%;
    margin : 0 50px 0 0;
}
table, th, td {
    border: 3px solid var(--anti-color);
}
.nav-left{
    display: inline-flex;
    float: left;
    width: 21vmax;
}
.horizontal-flex-buttons{
    display: flex;
    margin: 0 12.5%;
    text-align:center;
}
.vertical {
    display: block;
    padding: 6vmax 0;
}
.vertical-button{
    display: block;
    margin: 30px auto;
}
.flex-btn {
    flex: 1;
    margin: 20px;
}

.navigation-bar{
    border-bottom: 2px var(--base-color) solid;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: var(--anti-color);
}
.profile-pic {
    width: 70px;
    height: 70px;
    margin: 0 70px;
}
.dropdown-content {
    display: none;
    background-color: var(--base-color);
    z-index: 1;
}
.dropdown-content a {
    color: var(--anti-color);
    padding: 20px;
    display: block;
    text-align: left;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a:hover {background-color:var(--primary-color);}

.event-wrapper {
    border: 5px solid var(--primary-color);
    margin: 5% 5% 0 5%;
    display: inline-block;
}
h3.event-title {
    margin: 10px;
    padding: 5px 10px;
    border-bottom: 3px solid var(--primary-color);
}
.event-page {
    display: block;
    margin: 0 10%;
    text-align: center;
}
.event-content .event-date {
    display: inline-flex;
    font-size: small;
    margin: 5px 20px;
}
.search-box {
    width: 30vmax;
    padding: 0.5vmax 2vmax;
    background-color: #C4C4C4;
    border-radius: 10px;
    border: none;
}
.map {
    border-radius: 20px;
    border: dotted 2px var(--primary-color);
    padding: 10px;
}
.search-bar-container {
    text-align: center;
}
.footer{
    border-top: solid var(--base-color);
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.settings {
    padding: 40px;
}

.vertical-wrapper {
    margin: 0 12.5%;
    text-align: center;
    border: solid 2px var(--base-color);
    border-radius: 10px;
}
.border-wrapper {
    display: flex;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    background-color: rgba(var(--primary-color), 0.8);
}
.theme-dark {
    background-color: #171718;
    color: white;
}
.theme-dimmed {
    background-color: #5d5d5d;
    color: white;
}
.theme-light {
    background-color: #fff;
    color: black;
}
.orange-btn {
    background-color: #ef7030;
}
.cyan-btn {
    background-color: #2fa1a6;
}
.purple-btn{
    background-color:#8462c8;
}
.theme-dark, .theme-dimmed, .theme-light, .orange-btn, .purple-btn, .cyan-btn {
    padding: 20px;
    border: 2px solid;
    border-radius: 20px;
}
.error-container {
    display: inline-block;
    z-index: 1;
    background-color: #fc181894;
    border: 2px solid #f66666;
    border-radius: 20px;
    padding: 20px;
}